@import 'style-import.css';

.nested {
    background: device-cmyk(0, 0.5, 1, 0.5);
}

.cmy {
    background-color: device-cmyk(1, 1, 1, 0);
    color: white;
}

.registration {
    background-color: device-cmyk(1, 1, 1, 1);
    color: white;
}

.k-gray {
    background-color: device-cmyk(0, 0, 0, 0.5);
    color: white;
}

.cmy-gray {
    background-color: device-cmyk(0.5, 0.5, 0.5, 0);
}
