.link {
    background-color: device-cmyk(0, 1, 0, 0);
}

.black {
    background-color: device-cmyk(0, 0, 0, 1);
    color: white;
}

.red {
    background-color: device-cmyk(0, 1, 1, 0);
    color: white;
}

.green {
    background-color: device-cmyk(1, 0, 1, 0);
}

.blue {
    background-color: device-cmyk(1, 0.25, 0, 0.25);
    color: white;
}
